{% extends "newsletter/common.html" %}

{% load i18n %}

{% block title %}{% trans "Newsletter unsubscribe" %}{% endblock title %}

{% block body %}
<div class="text-center">
    <h1>{% trans "Newsletter unsubscribe" %} {{ newsletter.title }}</h1>

    <p>Welcome, {{ user }}!</p>
</div>
{% if messages %}
    <div class="text-center">
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
{% else %}

{% trans "Do you want to unsubscribe from this newsletter?" %}
<form enctype="multipart/form-data" method="post" action="{% url "newsletter_unsubscribe_confirm" newsletter.slug %}">
    {% csrf_token %}
    <p class="text-center"><input id="id_submit" name="submit" value="{% trans "Unsubscribe" %}" type="submit" /></p>
</form>
{% endif %}

{% endblock body %}
