// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

#masthead {
    top: 0;
    width: 100%;
    position: relative;
    margin: auto;

    @media only screen and (min-width: 1205px) {
        height: auto;
    }
    @media only screen and (max-width: 800px) {
        border-bottom: 1px solid #ddd;
        position: fixed;
    }
    transition: $transition;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    transform : translate3d(0, 0, 0);
    z-index: 99;
    background: transparent;

    &:hover,
    &.opac {
        opacity:1;
    }

    /* not  mobile */
    .site-logo-first {
        display: none;
        @media only screen and (min-width: 800px) {
            top: 0;
            display: inline-block;

          img {
            max-width: 100%;
            height: 90px;
            margin: 5px auto;
            left: 0;
            top: 0;
            position :relative;
            z-index: 9999999;
          }
        }
    }


    &.opac {
        background: #fff !important;
        position: fixed;
        height: auto;
        border-top: 2px solid #000;
        border-bottom: 2px solid #000;
        #logo-top-header {
            display: none;
        }
    }

    .mobile-logo {
        display: none;
    }
    @media only screen and (max-width: 800px) {
        #logo-top-header {
            display: none;
        }

        .mobile-logo {
            display: block;
            width: 70px;
            float: left;
            margin-left: 15px;
        }

        #masthead, .cd-morph-dropdown {border: none;}
    }
}

.site-title,
.search-menu-mobile {
    display: none;
}


#logo-top-header {
    display: block;
    border-bottom: 2px solid #000;
}

.header-grid {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  align-items: center;
  .social-media {
    text-align: left;
    position: relative;
    top: 8px;
    a {
        color: $color-1;
        padding-right: 5px;
    }
    a:hover {
        color: $color-2;
        text-decoration: none;
    }
  }

  .header-buttons {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 8px;
  }
}
