.zooming {
    -webkit-transition: all 2s cubic-bezier(0.21, 1, 0.84, 1.01);
    -moz-transition: all 2s cubic-bezier(0.21, 1, 0.84, 1.01);
    transition: all 2s cubic-bezier(0.21, 1, 0.84, 1.01);
    &:hover {
       -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        transform: scale(1.05);
    }
}
.witharrow {
    position: relative;

    &:after {
        font-family: Linearicons-Free;
        font-style: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        content:"\e87a";
        padding: .3125rem;
        border-radius: 5rem;
        color: #fff;
        background-color: #000;
        transition-property: opacity,visibility,transform;
        transition-duration: 0.15s;
        position: absolute;
        top: 20px;
        right: 20px;
        display: none;
      -webkit-transform: rotate(-30deg);
      -moz-transform: rotate(-30deg);
      -o-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
      transform: rotate(-30deg);
    }

    &:hover {
        &:after {
            display: inline-block;
        }
    }
}