.banner-pic {
    max-height: 550px;
    overflow: hidden;
    position: relative;
        img {
            width: 100%;
            object-fit: cover;
        }
}

.banner-inner {
    position: absolute;
    z-index: 9;
    top: 25%;
    width: 100%;
    h1 {
        color: #fff;
    }
}

.team {
    > div {
        @include breakpoint(md) {
            padding: 40px;
        }
        position: relative;
        transition: all .6s ease-in-out;
        img {
           filter: grayscale(100%);
           transition: all .6s ease-in-out;
        }
        &:hover {
            img {
                filter: grayscale(0);
            }
        }
    }

    p {
        margin: 1.5em 2.5em;
    }
}

.colored-bkg .wrapper {
    z-index: 1;
}

.right-image {
    img {
        max-height: 800px;
        max-width: 30%;
        float:right;
        position:absolute;
        right:0;
        top:180px;
        z-index: 0;
    }
}