.section-team {
    padding-top: 3rem;
}

@include breakpoint(md) {

    .section-team {
        padding-top: 6rem;
    }

    .cols-2-team {
        .member:nth-child(odd) {
            margin-top: -9.25rem;
        }

        .img-wrap {
            overflow: hidden;
            position: relative;

            img {
                object-fit: cover;
                width: 100%;
                filter: grayscale(40%);
                transition: transform .8s ease;
                &:hover {
                    transform: scale(1.1);
                    filter: grayscale(1%);
                }
            }
        }
    }
}
@media screen and (max-width: 900px) {
    .member {
        margin-bottom: 3rem;
    }
}