.blog-list {
    article {
        padding: 4em 0;
        border-bottom: 1px solid #ddd;
        &:first-child {
            padding-top: 0;
        }
        @include breakpoint(md) {
            padding: 2em 0;
            h2 {
                font-size: 3rem;
                a {
                    color: $color-1;
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .project-item {
        .tilter__caption {
            padding: 4em 1.5em;
        }
    }
}

.recent-articles {

   ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
        padding: 0.5em 0;
         a {
            color: $color-1;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
  }
}

.blog-content {
    padding-block: 16px 56px;
    max-inline-size: 680px;
    margin-block: auto;
    margin-inline: auto;
}

.tags {
    list-style-type: none;
    margin-top: 30px;
    li {
        display: inline-block;
        margin: 0 10px;

        a {
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 2px;
            color: $color-1;
            font-size: 0.9em;
        }
    }
}

.post-related-list {
    padding: 50px 20px;
    h2 {
        text-transform: uppercase;
    }
    article {
        padding: 20px 0;
        border-bottom: 2px solid $color-1;
    }
}
.blog-list {
    .blog-visual {
      overflow: hidden;
      img {
         transition: 0.3s;

         &:hover {
            opacity: 0.9;
            transform: scale(1.1);
         }
      }
    }
}

.blog-visual:not(.project-main-pic),
.img-fluid {
      box-shadow: inset 0 1px 1px 0 hsla(0,0%,100%,.1),0 50px 100px -20px rgba(50,50,93,.25),0 30px 60px -30px rgba(0,0,0,.3);
}