// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

/* first screen */
.first-screen {
    min-height: 600px;
    @include breakpoint(lg) {
        min-height: 900px;
    }
}
.second-screen {
    @include breakpoint(md) {
        padding-bottom: 150px;
    }
}

.home-picture-wrap {
    position: relative;
    width: 100%;
    .home-picture {
        position: relative;
        height: 200px;
        z-index: 95;
        overflow: hidden;
        #slideshow {
            height: 100%;
            .container {
                width: 100% !important;
                padding: 0 !important;
                height: 100%;
            }
            img {
                height: 100%;
                object-fit: cover;
                width: 100%;
            }
        }
    }
}

@include breakpoint(md) {

    .home-picture-wrap {
        .home-picture {
            margin-bottom: -90px;
            top: -90px;
            height: 600px;
        }
    }

    .narrow-text {
        margin: auto;
        width: 40%;
    }
}

.home {
	box-shadow: inset 0 0 0 2000px rgba(221, 225, 225, 0.8);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    @include breakpoint(md) {
         box-shadow: inset 0 0 0 2000px rgba(221, 225, 225, 0.63);
         background-size: 100%;
    }
}