.list-filter {
    display: inline-block;
    list-style-type: none;
    li {
        float: left;
        padding: 10px;
        a {
             border-bottom: 3px solid transparent;
             letter-spacing: 1px;
             font-size:1.2rem;
        }
        &:hover
            a {
                color: $color-2;
                border-bottom: 3px solid $color-2;
                text-decoration: none;
            }
    }
}

.project-cols {
    > div {
        padding: 10px;
    }
}