{% load cms_tags menu_tags sekizai_tags static i18n %}

<footer id="footer">
    <div class="wrapper">
        <div class="cols-footer">
            <div class="contact">
                <h2 class="footer-title">
                    {% trans "Rather write us an email?" %}<br/>
                    <a href="mailto:office@erptools.ro" target="_blank" style="text-decoration: underline;">office@erptools.ro</a>
                </h2>
            </div>
            <div class="nav">
                <ul>
                    <li><a href="#">Page1</a><hr/></li><br/>
                    <li><a href="#">Page2</a><hr/></li>
                </ul>
            </div>
            <div class="nav">
                <ul>
                    <li><a href="#" target="_blank" class="privacy">Page3</a><hr/></li><br/>
                    <li><a href="#">Page4</a><hr/></li>
                </ul>
            </div>
        </div>
        <div class="cols-footer">
            <div></div>
            <div>
                <a href="#" class="social facebook">
                    <img data-src="{% static 'landing/img/icon_facebook.svg' %}" alt="facebook" class="lazy" width="20" height="20"/>
                </a>
            </div>
        </div>
    </div>
    <hr class="sep">
    <div class="wrapper">
        <div class="cols-footer">
            <div class="flex-container">
                <img src="{% static 'landing/img/logo_footer.jpg' %}" alt="logo" class="footer-logo" width="80"/>
                <p class="footer-contact">Cluj-Napoca, Piata Unirii Nr. 25 Ap.4</p>
                <a href="callto:+40733355234" class="footer-tel">0733 355 234</a>
            </div>
            <div>&nbsp;</div>
            <div class="flex-container">
                <h5 class="copyright">
                    &copy; ERP TOOLS</h5>
            </div>
        </div>
    </div>
</footer>
<a href="#" class="ksw-ask ksw-top">{% trans "Online Support" %}</a>
<a href="#" class="ksw-top">Top</a>