{% load cms_tags menu_tags sekizai_tags static i18n %}

<footer id="footer">
    <div class="wrapper">
        <div class="cols-footer">
            <div class="contact">
                <h2 class="footer-title">
                    {% trans "Contacteaza-ne" %}<br/>
                    <a href="mailto:sufletul.hasmasului@gmail.com" target="_blank" style="text-decoration: underline;">sufletul.hasmasului@gmail.com</a>
                </h2>
                 <div class="socials">
                <a href="https://www.facebook.com/sufletul.hasmasului2015" target="_blank">
                        <i class="fab fa-facebook-square fa-xl"></i>
                    </a>&nbsp;&nbsp;
                    <a href="https://www.instagram.com/sufletulhasmasului/" target="_blank">
                        <i class="fab fa-instagram fa-xl"></i>
                    </a>&nbsp;&nbsp;
                    <a href="https://www.youtube.com/channel/UCZF5nb6HK243W0LstHKunGQ" target="_blank">
                        <i class="fab fa-youtube fa-xl"></i>
                    </a>
            </div>
            </div>
            <div class="nav">
                <ul>
                    <li>
                         <a href="{% page_url 'about' as about_url %}{% if about_url %}{% page_url 'about-us' %}{% else %}#{% endif %}">{% trans "Despre Noi" %}</a><hr/></li><br/>
                    <li>
                          <a href="{% page_url 'blog' as blog_url %}{% if blog_url %}{% page_url 'blog' %}{% else %}#{% endif %}">{% trans "Blog" %}</a><hr/></li>
                </ul>
            </div>
            <div class="nav">
                <ul>
                    <li>
                         <a href="{% page_url 'projects' as projects_url %}{% if projects_url %}{% page_url 'projects' %}{% else %}#{% endif %}">{% trans "Proiecte" %}</a><hr/></li><br/>
                    <li>
                          <a href="{% page_url 'contact' as contact_url %}{% if contact_url %}{% page_url 'contact' %}{% else %}#{% endif %}">{% trans "Contact" %}</a><hr/></li>
                </ul>
            </div>
        </div>
        <div class="cols-footer">
            <div></div>

        </div>
    </div>
    <hr class="sep">
    <div class="wrapper">
        <div class="cols-footer">
            <div class="flex-container">
                <img src="{% static 'landing/img/logo_footer.png' %}" alt="logo" class="footer-logo" width="130" style="opacity:0.65"/>
                <p class="footer-contact"><br/>Asociația EcoSportivă "Sufletul Hășmașului"<br/>Bălan, Harghita<br/></p>
            </div>
            <div>&nbsp;</div>
            <div class="flex-container">
                <h5 class="copyright"><br/>
                    &copy; AESH</h5>
            </div>
        </div>
    </div>
</footer>
<!--<a href="#" class="ksw-ask ksw-top">{% trans "Online Support" %}</a>-->
<a href="#" class="ksw-top">Top</a>