{% load cms_tags menu_tags sekizai_tags static i18n %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% page_attribute 'meta_description' %}">
    <meta property="og:site_name" content="aesh.eu">
    <meta property="og:title" content="{% page_attribute 'page_title' %}{{ object.name }}">
    <meta property="og:description" content="{% page_attribute 'meta_description' %}"/>
    <meta property="og:url" content="{{ request.path }}">

    {% block page-title %}{% endblock %}

    <!-- FAVICON-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'landing/img/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'landing/img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'landing/img/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'landing/img/favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'landing/img/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">


    <link rel="stylesheet" type="text/css" href="/static/landing/css/ksw_all.min.css"/>

    {% block thumbnail %}{% endblock %}

    <!-- Project critical CSS -->

    {% block head %}{% endblock %}
    {% render_block "css" %}

</head>

<body class="{% block body-class %}{% endblock %}">

{% cms_toolbar %}

{% include 'includes/nav.html' %}

{% block header %}{% endblock header %}

{% block content %}{% endblock %}

{% include 'includes/footer.html' %}

{% include 'includes/js.html' %}

{% block extra-js %} {% endblock %}

{% render_block "js" %}

{% block after-js %} {% endblock %}


<div class="body-overlay"></div>
</body>
</html>