{% extends "base.html" %}

{% load cms_tags sekizai_tags static i18n  %}

{% block page-title %}
<title>{% trans "Asociația EcoSportivă Sufletul Hășmașului" %}</title>
{% endblock %}

{% block body-class %}home{% endblock %}

{% block content %}
<div class="page-content">
    <div class="first-screen wrapper">
        {% placeholder "homepage-title" %}
        <div class="narrow-text">
             {% placeholder "homepage-text" %}
        </div>
    </div>
</div>

<div class="hide" id="home-bkg">
    {% placeholder 'background-image %}
</div>
{% endblock %}