{% extends "base.html" %}

{% load cms_tags sekizai_tags static %}

{% block page-title %}
<title>{% page_attribute 'page_title' %}{{ object.name }}</title>
{% endblock %}

{% block body-class %}page contact{% endblock %}

{% block content %}
<div class="page-content p0">
    <div class="banner-pic" style="max-height:370px;">
        {% placeholder "banner-picture" %}
        <div class="banner-inner">
            <div class="wrapper">
                <h1 class="text-center">{% page_attribute page_title %}</h1>
            </div>
        </div>
    </div>
</div>
<div class="page-content">
    <div class="wrapper">
        {% placeholder "content" %}
    </div>
</div>
{% endblock content %}