{% load thumbnail %}


<a href="{% if picture_link %}{{ picture_link }}{% else %}#{% endif %}" class="tilter tilter--5"
   {% if instance.link_target %} target="{{ instance.link_target }}" {% endif %}
   {{ instance.link_attributes_str }}>


    {# start render figure/figcaption #}
    <figure class="tilter__figure">
        {# end render figure/figcaption #}


        <img src="{{ instance.img_src }}" class="tilter__image"
             alt="{% if instance.attributes.alt %}{{ instance.attributes.alt }}{% elif instance.picture.default_alt_text %}{{ instance.picture.default_alt_text }}{% endif %}"
             {% if instance.width %} width="{{ instance.width }}" {% endif %}
             {% if instance.height %} height="{{ instance.height }}" {% endif %}
             {% if img_srcset_data %}
             srcset="
            {% for size, thumb in img_srcset_data %}
                {{ thumb.url }} {{ size }}w,
            {% endfor %}
            {{ instance.img_src }} {{ picture_size.size.0 }}w
        "
             sizes="
            {% for size, thumb in img_srcset_data %}
                (max-width: {{ size }}px) {{ size }}px,
            {% endfor %}
            {{ picture_size.size.0 }}px
        "
             {% endif %}
             {{ instance.attributes_str }}
        >
        <div class="tilter__deco tilter__deco--shine">
            <div></div>
        </div>

        {# start render figure/figcaption #}
        <figcaption class="tilter__caption"><h3 class="tilter__title">{{ instance.caption_text }}</h3></figcaption>
        <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
							<path d="M20.5,20.5h260v375h-260V20.5z" />
						</svg>
    </figure>
    {# end render figure/figcaption #}

</a>
